.detail-card {
  display: flex;
  padding: 1rem;
  box-shadow: 0px -1px 26px 4px rgba(191, 191, 191, 1);
  margin: 1rem;
  border-radius: 1rem;
}
.detail-description-container {
  margin-left: 0.5rem;
}

.detail-description-container > div {
  margin-top: 1rem;
}
